<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


<center>
    <div class="container">

    <h1>Single & Multiple Image Upload</h1>
    <hr />
    <div class="row">
        <div class="col-md-6" style="background: dodgerblue;">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="form-group"  style="margin-top: 4rem;">
                    <input type="file" name="image" class="btn btn-dark" />
                </div>
                <button type="submit" class="btn btn-danger" style="margin: 4em 0em 0em 0em;">upload</button>
            </form>
        </div>
        <div class="col-md-6" style="background: bisque;">
            <form action="/upload2" method="post" enctype="multipart/form-data" style="margin-top: 1em;">
                <div class="form-group">
                    <input type="file" name="image" class="btn btn-dark" style="border-color: #fff;"/>
                    <input type="file" name="image" class="btn btn-dark" style="border-color: #fff;"/>
                    <input type="file" name="image" class="btn btn-dark" style="border-color: #fff;"/>
                    <input type="file" name="image" class="btn btn-dark" style="border-color: #fff;"/>
                    <input type="file" name="image" class="btn btn-dark" style="border-color: #fff;"/>
                </div>
                <button type="submit" class="btn btn-danger">upload</button>
            </form>
        </div>
    </div>

</div>
</center>














<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>